P.Procedure {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 12pt 0pt 12pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.ListNumber2CxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.CodeBlockCxSpFirst {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 0pt 56.7pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.ProcedureChar {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.MsoListNumber2CxSpMiddle {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoListBullet2CxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoListNumberCxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

SPAN.bodytextchar0 {}

P.Sub-Heading0 {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt 0pt 6pt;  LINE-HEIGHT: 150%;  tab-stops: 17.85pt 36.0pt; }

P.MsoListBullet2CxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.MsoListNumber2CxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.CodeBlock {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 56.7pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.ListContinueChar {FONT-FAMILY: "Verdana","sans-serif"; }

SPAN.apple-converted-space {}

P.MsoListBulletCxSpFirst {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 37.7pt; }

P.ListNumber2CxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 54pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt; }

P.CodeCxSpFirst {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 0pt 14.2pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.Heading1Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.MsoListNumberCxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

P.CodeList {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 51.9pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.Monospace {FONT-FAMILY: "Courier New"; }

SPAN.apple-style-span {}

SPAN.Heading2Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.Codebox {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #e2e9ea;  MARGIN: 0pt 0pt 0pt 51.05pt;  LINE-HEIGHT: normal; }

P.TableBodyText {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.Heading3Char {FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold; }

P.Default {FONT-SIZE: 12pt;  FONT-FAMILY: "Arial","sans-serif";  COLOR: black;  MARGIN: 0pt;  LINE-HEIGHT: normal;  TEXT-AUTOSPACE: ; }

P.CodeCxSpMiddle {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 0pt 14.2pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.BodyTextChar {FONT-FAMILY: "Verdana","sans-serif"; }

P.MsoListBullet2CxSpMiddle {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

P.TableHeading {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  COLOR: #484848;  MARGIN: 5pt 0pt 0pt 2.15pt;  LINE-HEIGHT: 14pt; }

P.ListBulletContinue {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 5pt 0pt 0pt 37.7pt;  LINE-HEIGHT: 14pt; }

P.sub-heading {FONT-SIZE: 12pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN-LEFT: 0pt;  LINE-HEIGHT: normal;  MARGIN-RIGHT: 0pt; }

P.MsoListBulletCxSpMiddle {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 37.7pt; }

SPAN.st1 {}

P.Subheading {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  FONT-WEIGHT: bold;  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.TableCode {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 8.8pt;  LINE-HEIGHT: normal; }

P {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 5pt 0pt 0pt;  LINE-HEIGHT: 14pt; }

SPAN.SpecialBold {FONT-WEIGHT: bold;  LETTER-SPACING: 0pt; }

P.CodeCxSpLast {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 14.2pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

P.MsoListNumberCxSpMiddle {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 36.0pt; }

SPAN.procedurechar0 {}

P.CodeBlockCxSpMiddle {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 0pt 56.7pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

P.codespacer {FONT-SIZE: 9pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt;  LINE-HEIGHT: normal; }

P.MsoListBulletCxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 18pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 37.7pt; }

P.Code {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 14.2pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

SPAN.ListnumdzChar {FONT-FAMILY: "Calibri","sans-serif"; }

P.CodeBlockCxSpLast {FONT-SIZE: 9pt;  FONT-FAMILY: "Courier New";  BACKGROUND: #f2f2f2;  MARGIN: 0pt 5.65pt 6pt 56.7pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -14.2pt; }

P.SuperHeading {FONT-SIZE: 16pt;  FONT-FAMILY: "Verdana","sans-serif";  TEXT-TRANSFORM: uppercase;  COLOR: #00768b;  TEXT-ALIGN: right;  MARGIN: 24pt 0pt 0pt;  LETTER-SPACING: 2pt;  LINE-HEIGHT: normal; }

P.MsoListNumber2CxSpLast {FONT-SIZE: 10pt;  FONT-FAMILY: "Verdana","sans-serif";  MARGIN: 0pt 0pt 0pt 36pt;  LINE-HEIGHT: normal;  TEXT-INDENT: -18pt;  tab-stops: list 54.0pt; }

